@use 'variables' as v;
@mixin telefono {
    @media(min-width: v.$telefono) {
        //@media(min-width: 480px){
        @content; // Este elemento permite que lo que le agregue al media de telefono se pueda ejecutar desde aquí
    }
}

@mixin tablet {
    @media(min-width: v.$tablet) {
        //@media(min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media(min-width: v.$desktop) {
        //@media(min-width: 992px){
        @content;
    }
}

@mixin desktopXL {
    @media(min-width: v.$desktopXL) {
        @content;
    }
}

@mixin grid($column, $espaciado) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    gap: $espaciado;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}