// Tipografía
$fuente_principal:'Montserrat',
sans-serif;
$fuente_2: "IM Fell Double Pica SC",
serif;
$conociendo: "Source Serif Pro",
serif;
// Colores
$celeste: rgb(100, 193, 255);
$verde: #4c9fb8;
$rosa: #f3788d;
$rojo:rgb(226, 5, 5);
$amarillo: #FEF46D;
$morado:#752f97;
$negro:#000000;
$blanco:#ffffff;
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1220px;