@use 'base/mixins' as m;
@use 'base/variables' as v;
.formulario {
    //  @include m.grid(2, 3);
    display: flex;
    width: 60%;
    max-width: 50rem;
}

table {
    margin: 0 auto;
}

tr {
    margin: auto;
}

td {
    text-align: center;
}

input {
    width: 22rem;
    min-width: 15rem;
    //font-size: 1rem;
}

.mensOculto {
    font-size: 1rem;
    color: v.$rojo;
}